@model string
<div class="row" style="padding-top:20px">
    <div class="col-xs-12">
        <h1>Assign role to a service principal using Azure management rest api</h1>
        <p>Respone from azure!</p>
        <h3>Output</h3>
        <pre>@Html.Raw(Model)</pre>
    </div>
</div>
