
@{
    ViewBag.Title = "UsingDataFunction";
}

<h2>Customers</h2>
<table id="customersTable" class="table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<br />
<h2>Orders</h2>
<table id="ordersTable" class="table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{

    @*<script src="Scripts/jquery.min.js"></script>*@
    <script src="~/Scripts/Customers/customersService.js"></script>
    <script src="~/Scripts/Customers/dataService.js"></script>
    <script>
        dataService.getCustomers()
            .done(function (data) {
                var $trs = [];
                for (var i = 0; i < data.length; i++) {
                    var cust = data[i];
                    var $tr = $("<tr>" + td(cust.ID) + td(cust.FirstName) + td(cust.LastName) + "</tr>");
                    $tr.data("orders", cust.Orders);
                    $tr.click(showOrders);
                    $trs.push($tr);
                }
                $("#customersTable tbody").append($trs);
            })
            .fail(function (jqXHR, statusText, err) {
                alert("Error getting customers: " + err);
            });


        function showOrders() {
            var $tbody = $("#ordersTable tbody");
            $tbody.html("");
            var orders = $(this).data("orders");
            var $trs = [];
            for (var i = 0; i < orders.length; i++) {
                var order = orders[i];
                var $tr = $("<tr>" + td(order.ID) + td(order.ProductTitle) + td(order.Total) + "</tr>");
                $trs.push($tr);
            }
            $tbody.append($trs);
        }

        function td(data) {
            return "<td>" + data + "</td>";
        }
    </script>

}

