
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_DynamicLayout.cshtml";
}
<div class="row" style="padding-top:10px">
    <div class="col-md-12">
        @*<img style="width: 1300px; height: 500px; font-size: 26px; margin: 10px;" src="../Content/Images/drone.jpg" class="img-fluid" alt="Responsive image" />*@
        <img style="width: 1300px; height: 500px; font-size: 26px; margin: 10px;" src="../Content/Images/drone.jpg" class="img-fluid" alt="Responsive image" />
    </div>
</div>
<div class="row offset-4" style="padding-top:5px">
    <div class="col-md-3">
        <button id="btnCars" class="form-control btn btn-info">SelfDrivingCars</button>
    </div>
    <div class="col-md-3">
        <button id="btnDrones" class="form-control btn btn-success">Drones</button>
    </div>
</div>

